@import "../theme/theme";

.header {
  position: absolute;
  top: 0;
  right: 0;
  font-family: $header-font;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;

  @media(max-width: $phone) {
    background-color: $primary;
    height: 50px;
  }
}

.background {
  top: 0;
  right: 0;
  position: absolute;
  transform: translate(calc(-100vw), 0);

  .background-column {
    z-index: 2;
    height: 100vh;

    @media (max-width: $phone) {
      display: none;
    }
  }

  .scroll-message {
    z-index: 2;
    font-size: 0.25em;
    color: white;
    position: absolute;
    top: 90%;
    right: 0;
  }
}

.hamburger {
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 36px;
  height: 36px;
  top: 2%;
  right: 4%;
  z-index: 101;
  transform: translate(calc(50%), 75%);

  .ham-bar {
    display: none;
  }

  .nicole-burger {
    z-index: 100;
    width: 100px;
    height: 100px;
    position: fixed;
    top: 2%;
    right: 2%;
  }

  .nicole-burger:focus {
    display: none;
  }

  .nicole-burger-hover {
    display: none;
    z-index: 100;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 2%;
    right: 2%;
  }

  .nicole-burger, :hover .nicole-burger-hover {
    display: block;
  }

  .nicole-burger-hover, :hover .nicole-burger {
    display: none;
  }

  @media (max-width: $phone) {
    .ham-bar {
      display: block;
      height: 4px;
      width: 36px;
      background-color: white;
      margin-bottom: 5px;
      right: 0;
    }

    .nicole-burger {
      display: none;
    }
  }
}

.menu {
  display: none;
}

.open {
  left: 0;
  display: block;
  animation-name: fadeInName;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
  z-index: 100;
}

.menu-container {
  transition: opacity 0.5s;
  position: absolute;
  display: table;
  top: 0;
  left: 0;
  background: $primary;
  width: 100%;
  height: 100vh;

  .menu-items {
    margin: 15vh auto;
    padding: 0;
    display: table;
    text-align: center;
    list-style: none;

    .menu-item li {
      display: table-cell;
      vertical-align: middle;
    }
    .menu-item li:hover {
      background-color: yellow;
    }

    .menu-item a {
      transition: 0.3s ease-in-out;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 5vh;
      line-height: 2.5;
      color: white;
    }

    .menu-item a:hover {
      background-color: red;
    }
  }
}

.nicole-logo {
  position: fixed;
  z-index: 10;
  top: 50%;
  right: 0;
  transform: translate(-25%, -50%);
}

.box-row {
  display: block;
  text-align: center;
  width: 50%;
}

.box {
  display: inline-block;
  height: auto;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid $primary;
  margin: 1%;
  color: black;
}

.scrolled {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: left;
  z-index: 10;
  top: 0;
  position: fixed;
  background-color: $primary;
  animation-name: fadeInName;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.15s;
}

.navlink-fixed {
  cursor: pointer;
  color: white;
  margin: 20px;
  font-size: 14pt;
}

.navlink {
  cursor: pointer;
  color: $primary;
  margin: 10px 20px 10px 20px;
  font-size: 14pt;
}

.navlink:focus {
  background-color: red;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  opacity: 0.6;
  color: $primary;
}

@keyframes fadeInName {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}