@import "../theme/theme";

body {
  margin: 0;
  padding: 0;
  font-family: $header-font;
}

.layout::before {
  content: "";
  margin-top: 100%;
}

.layout {
  height: 100vh;
  width: 100vw;
  display: flex;
  animation-name: fadeInName;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

.content {
  font-family: $core-font;
}

.title {
  background-color: black;
}

.text-container {
  display: flex;
  min-height: 95vh;
}

.hello-container {
  background-color: white;
  display: block;
  border-radius: 8px;
  border: 3px solid $primary;
  margin: auto;
  padding: 2%;
  min-height: 75vh;
  width: 45%;
}

.landing-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  width: 100vw;
  color: $primary;
  font-size: 35pt;
  opacity: 1;
  animation-name: fadeInName;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  overflow-y: hidden;

  .website-title {
    max-width: 500px;
    width: 50%;

    h1 {
      font-family: $header-font;
      font-size: 50pt;
    }
  }

  .social-icons {
    display: flex;
    width: 175px;

    .social {
      margin-right: 20px;
      width: 40px;
      height: 40px;
      display: inline-block;
      transition: transform 0.2s ease;

      @media (max-width: $phone) {
        margin: 0 20px;
      }
    }

    .social:hover {
      transform: translateY(-5px);
    }
  }

  @media (max-width: $phone) {
    text-align: center;
    padding: 0;
    margin: 15% auto;

    .website-title h1 {
      font-size: 24pt;
    }

    .social-icons {
      position: absolute;
      left: 0;
      bottom: 0;
      margin-top: 50vh;
      padding: 5% 0 20%;
      width: 100%;
      background-color: $primary;
      justify-content: center;
    }
  }
}

.landing-text {
  text-align: left;
  margin: 10% 0 0 10%;
  padding: 2% 0;
}

.landing-title {
  padding: 2% 0;
  font-size: 45px;
}

.landing-paragraph {
  font-size: 16px;
}

.landing-image {
  margin: auto;
}

.container {
  max-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;

  .container-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25vh;

    .container-title {
      text-align: center;
      font-family: $header-font;
      color: $primary;
      font-size: 50px;
      font-weight: bold;
    }
  }

  .projects {
    min-height: 100vh;
    height: auto;
    width: 100%;
    padding: 5% 0 10%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50%;
    grid-row-gap: 5%;
    justify-items: center;
    background-color: $background;

    @media (max-width: $laptop) {
      grid-template-columns: 33% 33% 33%;
    }

    @media (max-width: $hybrid) {
      grid-template-columns: 50% 50%;
      grid-template-rows: 33% 33%;
    }

    @media (max-width: $phone) {
      grid-template-columns: 100%;
      grid-template-rows: 15%;
    }

    a {
      font-size: 30px;
    }

    p {
      font-size: 12pt;
    }

    .project-info {
      display: block;

      .project-name {
        text-align: left;
        font-family: $core-font;
        font-size: 35px;
        font-weight: bold;
        padding: 2% 10%;

        a {
          color: black;
        }
      }
    }

    .project-container {
      text-align: center;
      font-size: 16pt;
      border-radius: 35px;
      margin: auto;
      background-color: white;
      height: 380px;
      width: 280px;
      transition: transform 0.2s ease;

      .project-pic {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: white;
        margin-bottom: 10px;
        border-radius: 35px 35px 0 0;
        height: 80%;
        max-width: 280px;

        img {
          position: relative;
          max-width: 100%;
          max-height: 100%;
        }
      }

      .project-pic:hover {
        cursor: pointer;
        transition: all 250ms ease;
      }
    }

    .project-container:hover {
      transform: translateY(-10px);
    }

    .caption-container {
      background-color: $hovered;
      position: absolute;
      width: 280px;
      height: 305px;
      border-radius: 35px 35px 0 0;
      margin: 0 auto;
      animation-name: fadeInName;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 0.25s;

      .project-caption {
        background-color: $tag-color;
        min-width: 80px;
        color: white;
        border-radius: 10px;
        height: auto;
        display: inline-block;
        position: relative;
        padding: 0 5px;
        margin: 5px 10px;

        p {
          font-weight: bolder;
          font-size: 15px;
          font-family: $tag-font;
          text-transform: uppercase;
          letter-spacing: 2px;
          line-height: 7px;
        }
      }
    }
  }
}

// OLD STUFF HERE

.container li {
  list-style: none;
  margin: 5px 0;
}

.container-title {
  font-size: 30px;
  font-weight: bold;
}

.jobs {
  padding: 3% 0 3%;
  min-height: 90vh;
  height: auto;
  width: 100%;
}

.job {
  background-color: lightsalmon;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
}

.interest p {
  border-radius: 20px;
  width: 20%;
  padding: 1%;
  text-align: center;
  background-color: $primary;

  a {
    text-decoration: none;
    color: black;
  }
}